
  .actions{
    display: flex;
    justify-content: flex-end;
    
    padding-top: 1rem;
}

.actions> button{
    margin: 0 0.5rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

input#search
{
    max-width: 60%;
}